:root {
    --blue: rgb(0, 0, 155);
    --l-blue: rgb(82, 82, 205);
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:  column;
    flex-wrap: nowrap;
    background-image: linear-gradient(to top right, rgb(0,0,0), rgb(24, 24, 24));
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#menu,
#game-container,
#controls {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#game-container {
    width: 100vw;
}

#start-menu h1 {
    font-size: 3rem;
}

#start-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

a:hover,
button:hover {
    background-color: var(--l-blue);
    box-shadow: 3px 3px 30px var(--blue);
}

a,
button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    font-weight: normal;
    font-size: 12px;
}

a {
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
}

#credit {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    color: white;
}

#menu {
    display: flex;
    max-width: 1000px;
}

#dungeon-container {
    display: flex;
    flex-flow: row nowrap;
}

.dungeon {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 200px;
}

.dungeon:hover {
    cursor: pointer
}

.dungeon h2 {
    font-weight: normal;
    width: fit-content;
    font-size: 0.95rem;
}

.dungeon img {
    width: 50%;
}

.hidden {
    display: none !important;
}

img {
    color: green;
    font-size: 1.5rem;
}

#combat-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100vw;
}

#sprite-container,
#dice-container {
    margin-bottom: 25px;
}


#combat-container h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

#sprite-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#sprite-container img {
    width: 256px;
    height: 256px;
}

#player-sprite-container,
#enemy-sprite-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

#enemy-sprite-container img {
    width: 50%;
    transform: scaleX(-1);
}

#dice-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 64px;
}

.die {
    width: 64px;
}

.player-info *,
.enemy-info * {
    margin: 0;
    padding: 0;
}

.player-info,
.enemy-info {
    padding: 10px;
    border: 1px white dashed;
    height: fit-content;
    margin-left: 25px;
}

#info-container * {
    font-weight: normal;
}

#info-container {
    display: flex;
    width: fit-content;
    align-self: flex-start;
    background-color: gray;
    padding: 10px;
}

#info-container h3:first-child {
    margin-right: 25px;
}

#bindAttacks {
    margin-top: 25px;
    margin-bottom: 10px;
}

#settings-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#settings-container button {
    margin-top: 10px;
}

.boss {
    color: red;
}