:root {
    --blue: rgb(0, 0, 155);
    --l-blue: rgb(82, 82, 205);
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-image: linear-gradient(to top right, rgb(0, 0, 0), rgb(24, 24, 24));
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 14px;
}

img {
    image-rendering: pixelated;
}

#menu,
#game-container,
#controls {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#game-container {
    width: 100vw;
}

#start-menu h1 {
    font-size: 3rem;
}

#start-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

a:hover,
button:hover {
    background-color: var(--l-blue);
    box-shadow: 3px 3px 30px var(--blue);
}

#item-menu,
a,
button {
    display: inline-block;
    background-color: var(--blue);
    width: fit-content;
    font-weight: normal;
    font-size: 12px;
    user-select: none;
    text-align: center;
    appearance: auto;
    text-rendering: auto;
    color: white;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

a {
    text-decoration: none;
}

#credit {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    color: white;
}

#menu {
    display: flex;
    max-width: 1000px;
}

#dungeon-container {
    display: flex;
    flex-flow: row nowrap;
}

.dungeon {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 200px;
}

.dungeon:hover {
    cursor: pointer
}

.dungeon h2 {
    font-weight: normal;
    width: fit-content;
    font-size: 0.95rem;
}

.dungeon img {
    width: 50%;
}

.hidden {
    display: none !important;
}

img {
    color: green;
    font-size: 1.5rem;
}

#combat-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100vw;
}

#sprite-container,
#dice-container {
    margin-bottom: 25px;
}


#combat-container h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

#sprite-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#sprite-container img {
    width: 256px;
    height: 256px;
}

#player-sprite-container,
#enemy-sprite-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

#enemy-sprite-container img.flip {
    width: 50%;
    transform: scaleX(-1);
}

#dice-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 64px;
}

.die {
    width: 64px;
}

.player-info *,
.enemy-info * {
    margin: 0;
    padding: 0;
}

.player-info,
.enemy-info {
    padding: 10px;
    border: 1px white dashed;
    height: fit-content;
    margin-left: 25px;
}

#info-container * {
    font-weight: normal;
}

#info-container {
    display: flex;
    width: fit-content;
    align-self: flex-start;
    background-color: gray;
    padding: 10px;
}

#info-container h3:first-child {
    margin-right: 25px;
}

#settings-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#settings-container button {
    margin-top: 10px;
}

.boss {
    color: red;
}

#inventory-grid {
    display: grid;
    grid-template-rows: repeat(5, 60px);
    grid-template-columns: repeat(12, 60px);
    /* no gap between cells, adjust if needed */
    width: max-content;
    /* shrink-wrap to grid size */
    border: 1px solid #ccc;
    /* optional, just to see the container */
    margin-bottom: 10px;
}

.grid-item {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    /* cell borders */
    box-sizing: border-box;
}

.grid-item.dragging {
    opacity: 0.5;
}

#tooltip {
    position: fixed;
    background: #333;
    color: #fff;
    font-size: 14px;
    pointer-events: none;
    z-index: 1000;
    max-width: fit-content;
    outline: 3px solid #333;
    border: 1px dashed gold;
}

#tooltip p {
    padding: 3px;
    margin: 0;
}

.item-rarity::first-letter {
    text-transform: uppercase;
}

.common {
    color: rgb(158, 158, 158);
}

.uncommon {
    color: rgb(0, 255, 8);
}

.rare {
    color: rgb(80, 80, 255);
}

.epic {
    color: rgb(125, 0, 187);
}

.legendary {
    color: rgb(255, 217, 0);
}

.exalted {
    color: rgb(255, 250, 220);
}

.tip {
    color: gold;
    padding: 0;
    margin: 0;
}

.tip::before {
    content: "Tip: ";
}

#item-menu {
    position: fixed;
    color: white;
    z-index: 2000;
    display: flex;
    flex-flow: column nowrap;
}

.hidden {
    display: none;
}

#sell-item,
#use-item {
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    color: white;
    width: 100%;
}

#sell-item:hover,
#use-item:hover {
    box-shadow: none;
}

#armor-grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.backToDungeonSelect {
    margin-top: 10px;
}

#player-pstats-grid {
    display: flex;
    justify-content: space-around;
}

#player-cstats-grid {
    display: flex;
    justify-content: space-around;
}

#xp {
    color: lime;
}

#def {
    color: rgb(80, 80, 255);
}

#atk {
    color: red;
}

#hlth {
    color: lime;
}

#lvl::before {
    content: "Level: ";
}

#xp::before {
    content: "XP: ";
}

#def::before {
    content: "Defense: ";
}

#atk::before {
    content: "Attack: ";
}

#hlth::before {
    content: "Health: ";
}

#aux-stats-container {
    background: #333;
    font-size: 14px;
    pointer-events: none;
    z-index: 1000;
    outline: 3px solid #333;
    border: 1px dashed gold;
}

img[src*="placeholder"] {
    opacity: 0.3;
}

#gold {
    color: gold;
}

#gold::before {
    content: "$";
}

#store-coins,
#item-value {
    color: gold;   
}

#store-coins::before,
.buy-item::before,
#item-value::before {
    content: "$";
}

#inv-stats-container p {
    width: 200px;
}

.store-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.store-item img {
    width: 64px;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 600px;
}

.nav > button {
    width: 150px;
}

#store {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#store-container  {
    min-width: 600px;
}

[alt="Crown"],
[alt="Middle Ages"],
[alt="Russia"] {
    width: 100px;
    height: 100px;
}

.column {
    display: flex;
    flex-flow: column nowrap;
}

.row {
    display: flex;
    flex-flow: row nowrap;
}

.settings-container-style {
    width: 500px;
    justify-content: space-around;
}

.armor-grid-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}